<h2>Lista de Usuários</h2>

<div class="ctn">
  <table>
    <tr *ngFor="let user of users">
      <td>Nome: {{ user.name }}</td>
      <td>Data de Criação: {{ user.createdAt }}</td>
      <td>ID: {{ user.id }}</td>
      <td><button (click)="onUpdate(user)">Atualizar</button></td>
      <td><button (click)="onDelete(user)">Excluir</button></td>
    </tr>
  </table>

  <div>
    <div>
      <h3>Cadastro de Usuários</h3>
      <form (ngSubmit)="onCreate()">
        <label>Nome:</label>
        <input  type="text" id="name" name="name" [(ngModel)]="userName" required/><br/>
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>

</div>



